.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}
.item {
    composes: item from "../group/group.module.css";
    background-color: #f0f8a8;
}
.item:last-child {
    border-right: none;
}
.title {
    font-size: 16px;
    color: #474747;
    font-weight: 700;
}
.button {
    outline: none;
    cursor: pointer;
    font-size: 12px;
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #4b94c9;
}
.text {
    font-size: 16px;
    color: #474747;
}
