*,
*::after,
*::before {
  box-sizing: border-box;
  transition: 0.2s;
  scroll-behavior: smooth;
}
a {
    text-decoration: none;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input {
    outline: none;
    border: none;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}